// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./solarized-dark";
@import "./atelier-sulphurpool-dark";

.list-group-item {
  /*链接列表*/
  form {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 10px;
  }
  /*文章列表*/
  .label {
    margin-right: 1em;
  }
}

/*flash提示层*/
.alert-flash {
  font-size: .5rem;
  position: fixed;
  right: 0.5rem;
  bottom: 2.5rem;
}

/*文章详情*/
.article {
  font-size: 16px;
  font-family: "Maven Pro,Microsoft YaHei,sans-serif!important";
  line-height: 26px;
}

code, kbd, pre, samp {
  font-size: 14px;
}

.article > section {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }
  h1, h2, h3, h4, h5 {
    margin: 20px -15px 10px;
    padding: 9px 20px;
    border-bottom: 1px dashed #E1E1E1;
  }
  p {
    margin-bottom: 6px;
  }
  ul {
    padding-left: 20px;
  }
  img {
    border: 1px solid #ddd;
    box-shadow: 0 0 30px #ccc;
    -moz-box-shadow: 0 0 30px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }

}

.article > header {
  .abstract, dl {
    padding: 10px 15px;
    font-size: 12px;
    color: #686868;
    background-color: #f1f1f1;
  }
}

.dl-inline {
  dt {
    display: inline-block;
  }
  dd {
    display: inline-block;
    //padding-right: 1em;
  }
}



